<!--<mat-sidenav-container class="hs-sidenav-container">-->
  <!--<mat-sidenav #sidenav-->
               <!--class="hs-sidenav mat-elevation-z10"-->
               <!--[opened]="!isScreenSmall()"-->
               <!--[mode]="isScreenSmall() ? 'over' : 'side'">-->





<div class="material-doc-apps">
  <app-component-sidenav></app-component-sidenav>
</div>


    <!--&lt;!&ndash;<mat-card class="example-card">&ndash;&gt;-->
    <!--&lt;!&ndash;<mat-card-header>&ndash;&gt;-->
    <!--&lt;!&ndash;<div mat-card-avatar class="example-header-image"></div>&ndash;&gt;-->
    <!--&lt;!&ndash;<mat-card-title>Shiba Inu oncha</mat-card-title>&ndash;&gt;-->
    <!--&lt;!&ndash;<mat-card-subtitle>Dog Breed</mat-card-subtitle>&ndash;&gt;-->
    <!--&lt;!&ndash;</mat-card-header>&ndash;&gt;-->
    <!--&lt;!&ndash;<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">&ndash;&gt;-->
    <!--&lt;!&ndash;<mat-card-content>&ndash;&gt;-->
    <!--&lt;!&ndash;<p>&ndash;&gt;-->
    <!--&lt;!&ndash;The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.&ndash;&gt;-->
    <!--&lt;!&ndash;A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally&ndash;&gt;-->
    <!--&lt;!&ndash;bred for hunting.&ndash;&gt;-->
    <!--&lt;!&ndash;</p>&ndash;&gt;-->
    <!--&lt;!&ndash;</mat-card-content>&ndash;&gt;-->
    <!--&lt;!&ndash;<mat-card-actions>&ndash;&gt;-->
    <!--&lt;!&ndash;<button mat-button>LIKE</button>&ndash;&gt;-->
    <!--&lt;!&ndash;<button mat-button>SHARE</button>&ndash;&gt;-->
    <!--&lt;!&ndash;</mat-card-actions>&ndash;&gt;-->
    <!--&lt;!&ndash;</mat-card>&ndash;&gt;-->

  <!--</mat-sidenav>-->

  <!--<mat-sidenav-content class="hs-sidenav-content">-->
    <!--<hs-home-toolbar></hs-home-toolbar>-->
    <!--<router-outlet></router-outlet>-->
    <!--<button type="button" mat-button (click)="sidenav.toggle()">open sidenav</button>-->
    <!--<h3>Raised Buttons</h3>-->
    <!--<div class="button-row">-->
      <!--<button mat-raised-button>Basic</button>-->
      <!--<button mat-raised-button color="primary">Primary</button>-->
      <!--<button mat-raised-button color="accent">Accent</button>-->
      <!--<button mat-raised-button color="warn">Warn</button>-->
      <!--<button mat-raised-button disabled>Disabled</button>-->
      <!--<a mat-raised-button routerLink=".">Link</a>-->
    <!--</div>-->
  <!--</mat-sidenav-content>-->




<!--</mat-sidenav-container>-->
