@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

@import 'app/home/component-sidenav/component-sidenav-theme';



$primary: mat-palette($mat-green);
$accent:  mat-palette($mat-gray, A200, A100, A400);
$warn:    mat-palette($mat-red);
$theme: mat-dark-theme($primary, $accent, $warn);

@include component-viewer-sidenav-theme($theme);

@include angular-material-theme($theme);



$custom-typography: mat-typography-config(
  $font-family: 'Roboto, monospace',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

@include mat-base-typography($custom-typography);



body {
  font-family: "Roboto","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  margin: 0px;
}

